<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
        <h2>File Manager</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
        </li>
        <li>
            AHS Football
        </li>
        <li class="active">
            <strong>File Manager</strong>
        </li>
    </ol>
</div>
        </div>
<div class="wrapper wrapper-content">
<div class="row">
<div class="col-lg-3">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="file-manager">
                <h5>Show:</h5>
                <a href="#" class="file-control active">All</a>
                <a href="#" class="file-control">Documents</a>
                <a href="#" class="file-control">Images</a>
                <a href="#" class="file-control">Video</a>
                <div class="hr-line-dashed"></div>
                <button class="btn btn-primary btn-block">Upload</button>
                <div class="hr-line-dashed"></div>
                <h5>Folders</h5>
                <ul class="folder-list" style="padding: 0">
                    <li><a href=""><i class="fa fa-folder"></i> For Coaches</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> For Players</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> Insurance</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> Medical</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> Pictures</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> Videos</a></li>
                    <li><a href=""><i class="fa fa-folder"></i> Articles</a></li>
                </ul>
                <h5 class="tag-title">Tags</h5>
                <ul class="tag-list" style="padding: 0">
                    <li><a href="">Varsity</a></li>
                    <li><a href="">JV</a></li>
                    <li><a href="">Coaches</a></li>
                    <li><a href="">Players</a></li>
                    <li><a href="">Senior Class</a></li>
                    <li><a href="">Junior Class</a></li>
                    <li><a href="">Sophomore Class</a></li>
                    <li><a href="">Freshman Class</a></li>
                    <li><a href="">Medical</a></li>
                    <li><a href="">Offense</a></li>
                    <li><a href="">Defense</a></li>
                    <li><a href="">Special Teams</a></li>
                    <li><a href="">QB</a></li>
                    <li><a href="">RB</a></li>
                    <li><a href="">WR</a></li>
                    <li><a href="">TE</a></li>
                    <li><a href="">OL</a></li>
                    <li><a href="">DL</a></li>
                    <li><a href="">DE</a></li>
                    <li><a href="">LB</a></li>
                    <li><a href="">DB</a></li>
                    <li><a href="">CB</a></li>
                    <li><a href="">S</a></li>
                    <li><a href="">K/P</a></li>

                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-9 animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
            <div class="file-name">
                AHSHalloweenFundraiser.doc
                <br />
                <small>Added: Sep 16, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <a href="#">
        <div class="file">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="file-name">
                Annual Report 2013.xls
                <br />
                <small>Added: Feb 22, 2014</small>
            </div>
        </div>
    </a>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-file"></i>
            </div>
            <div class="file-name">
                Article-AHSvDCHS.pdf
                <br />
                <small>Added: Oct 11, 2014</small>
            </div>
        </a>

    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="file-name">
                Breakdown-AHSvsDCHS-Def
                <br />
                <small>Added: Oct 12, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="file-name">
                Breakdown-AHSvsDCHS-Off
                <br />
                <small>Added: Oct 12, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-bar-chart-o"></i>
            </div>
            <div class="file-name">
                Breakdown-AHSvsDCHS-ST
                <br />
                <small>Added: Oct 12, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="img-responsive fa fa-film"></i>
            </div>
            <div class="file-name">
                Chris Drew INT.mp4
                <br />
                <small>Added: Oct 11, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <div class="file-name">
                Insurance - AlstonE.pdf
                <br />
                <small>Added: May 29, 2014</small>
            </div>
        </a>
    </div>

</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <div class="file-name">
                Insurance - BallA.pdf
                <br />
                <small>Added: May 31, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <div class="file-name">
                Insurance - CopelandN.pdf
                <br />
                <small>Added: May 31, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <div class="file-name">
                Insurance - DrewC.pdf
                <br />
                <small>Added: May 27, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-lock"></i>
            </div>
            <div class="file-name">
                Insurance - LottJ.pdf
                <br />
                <small>Added: May 30, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-medkit"></i>
            </div>
            <div class="file-name">
                MedRelease - AlstonE.pdf
                <br />
                <small>Added: June 11, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-medkit"></i>
            </div>
            <div class="file-name">
                MedRelease - BallA.pdf
                <br />
                <small>Added: June 4, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-medkit"></i>
            </div>
            <div class="file-name">
                MedRelease - CopelandN.pdf
                <br />
                <small>Added: June 11, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-medkit"></i>
            </div>
            <div class="file-name">
                MedRelease - DrewC.pdf
                <br />
                <small>Added: June 6, 2014</small>
            </div>
        </a>
    </div>
</div>
<div class="file-box">
    <div class="file">
        <a href="#">
            <span class="corner"></span>

            <div class="icon">
                <i class="fa fa-medkit"></i>
            </div>
            <div class="file-name">
                MedRelease - LottJ.pdf
                <br />
                <small>Added: June 3, 2014</small>
            </div>
        </a>
    </div>
</div>

</div>
</div>
</div>
</div>
</div>

