<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>AHS Football Practice Schedule</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
	        </li>
	        <li>
	            AHS Football
	        </li>
	        <li class="active">
	            <strong>Practice Schedule</strong>
	        </li>
	    </ol>
	</div>
</div>

<div class="wrapper wrapper-content">
<div class="row animated fadeInDown">
    <div class="col-lg-12">
    	<h2>Weekly Practice Schedule</h2>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Week 5 (Passive HS) </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Edit Practice Schedule</a>
                        </li>
                        <li>
                            <a href="#">Edit Practice Schedule Template</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <h2>Practice Script</h2>
            <div class="ibox-title">
                <h5>Today - Tuesday, October 14, 2014 (4:00 pm)</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">Edit Practice Script</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>

            <div class="ibox-content inspinia-timeline">

                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-fire"></i>
                            Period 1<br />
                            <small class="text-navy">4:00</small><br>
                            <small>:20</small>
                        </div>
                        <div class="col-lg-9 content no-top-border">
                            <p class="m-b-xs"><strong>Warmup</strong></p>

                            <p>
                                Conference on the sales results for the previous year. Monica please examine sales trends in marketing and products. Below please find the current status of the
                                sale.
                            </p>

                            <p><span data-diameter="40" class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,4,7,3,2,9,8,7,4,5,1,2,9,5,4,7,2,7,7,3,5,2</span></p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-arrows-h"></i>
                            Period 2<br />
                            <small class="text-navy">4:20</small><br>
                            <small>:20</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Stretch</strong></p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-user-plus"></i>
                            Period 3<br />
                            <small class="text-navy">4:40</small><br>
                            <small>:10</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Indy</strong></p>
                            <p>
                                Go to shop and find some products.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-ticket"></i>
                            Period 4<br />
                            <small class="text-navy">4:50</small><br>
                            <small>:15</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Install - Run</strong></p>
                            <p>
                                Lorem Ipsum has been the industry's standard dummy text ever since.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-paper-plane-o"></i>
                            Period 5<br />
                            <small class="text-navy">5:05</small><br>
                            <small>:15</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Install - Pass</strong></p>
                            <p>
                                Find some issue and go to doctor.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-gift"></i>
                            Break<br />
                            <small class="text-navy">5:20</small><br>
                            <small>:10</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Break</strong></p>
                            <p>
                                Lorem Ipsum has been the industry's standard dummy text ever since.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-file-text"></i>
                            Period 6
                            <br />
                            <small class="text-navy">5:30</small><br>
                            <small>:15</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Scenario: 3rd & Long</strong></p>
                            <p>
                                Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-file-text"></i>
                            Period 7
                            <br />
                            <small class="text-navy">5:45</small><br>
                            <small>:15</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Scenario: 3rd & Short</strong></p>
                            <p>
                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="timeline-item">
                    <div class="row">
                        <div class="col-xs-3 date">
                            <i class="fa fa-file-text"></i>
                            Period 8
                            <br />
                            <small class="text-navy">6:00</small><br>
                            <small>:15</small>
                        </div>
                        <div class="col-xs-9 content">
                            <p class="m-b-xs"><strong>Scenario: Big Play</strong></p>
                            <p>
                            	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</div>
</div>


<% content_for :javascript do %>

<script type="text/javascript">


$(function() {

    $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
    });

    /* initialize the external events
     -----------------------------------------------------------------*/


    $('#external-events div.external-event').each(function () {

        // store data so the calendar knows to render an event upon drop
        $(this).data('event', {
            title: $.trim($(this).text()), // use the element's text as the event title
            stick: true // maintain when user navigates (see docs on the renderEvent method)
        });

        // make the event draggable using jQuery UI
        $(this).draggable({
            zIndex: 1111999,
            revert: true,      // will cause the event to go back to its
            revertDuration: 0  //  original position after the drag
        });

    });


    /* initialize the calendar
     -----------------------------------------------------------------*/
    var date = new Date();
    var d = date.getDate();
    var m = date.getMonth();
    var y = date.getFullYear();

    $('#calendar').fullCalendar({
        height: 400,
        defaultView: 'agendaWeek',
        header: {
            left: 'prev,next today',
            center: 'title',
            right: 'month,agendaWeek,agendaDay'
        },
        editable: true,
        droppable: true, // this allows things to be dropped onto the calendar
        drop: function () {
            // is the "remove after drop" checkbox checked?
            if ($('#drop-remove').is(':checked')) {
                // if so, remove the element from the "Draggable Events" list
                $(this).remove();
            }
        },
        events: [
            {
                title: 'All Day Event',
                start: new Date(y, m, 1)
            },
            {
                id: 999,
                title: 'Repeating Event',
                start: new Date(y, m, d - 3, 16, 0),
                allDay: false,
            },
            {
                id: 999,
                title: 'Repeating Event',
                start: new Date(y, m, d + 4, 16, 0),
                allDay: false
            },
            {
                title: 'Meeting',
                start: new Date(y, m, d, 10, 30),
                allDay: false
            },
            {
                title: 'Lunch',
                start: new Date(y, m, d, 12, 0),
                end: new Date(y, m, d, 14, 0),
                allDay: false
            },
            {
                title: 'Birthday Party',
                start: new Date(y, m, d + 1, 19, 0),
                end: new Date(y, m, d + 1, 22, 30),
                allDay: false
            },
            {
                title: 'Click for Google',
                start: new Date(y, m, 28),
                end: new Date(y, m, 29),
                url: 'http://google.com/'
            }
        ],
    });
    
});

$(function() {

    var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

    setInterval(function () {
        var random = Math.round(Math.random() * 10)
        var values = updatingChart.text().split(",")
        values.shift()
        values.push(random)

        updatingChart
                .text(values.join(","))
                .change()
    }, 1000);

});

</script>

<% end %>



<p>find me in app/views/ahs_football/practice.html.erb</p>

<p>This Week's Practice Schedule</p>

<p>Edit Practice Schedule Template</p>

<p>This Week's Practice Script</p>

<p>Edit Practice Script</p>