<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>AHS Football Scouting</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
	        </li>
	        <li>
	            AHS Football
	        </li>
	        <li class="active">
	            <strong>Scouting</strong>
	        </li>
	    </ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row animated fadeInUp">
		<div class="col-lg-12">
			<h1>Scouting Passive High School</h1>
			<div class="col-lg-6">
				<h4>Their Offense</h4>
				<div class="row">
					<div class="col-lg-12">
						<h4>Their Best Offensive Players</h4>
					</div>
					<div class="col-lg-4">
				        <div class="widget style1 red-bg">
				            <div class="row vertical-align">
				                <div class="col-xs-6">
				                    <h2 class="font-bold">RB</h2>
				                </div>
				                <div class="col-xs-6 text-right">
				                    <h2 class="font-bold">#3</h2>
				                </div>
				            </div>
				        </div>
				    </div>
				    <div class="col-lg-4">
				        <div class="widget style1 red-bg">
				            <div class="row vertical-align">
				                <div class="col-xs-6">
				                    <h2 class="font-bold">QB</h2>
				                </div>
				                <div class="col-xs-6 text-right">
				                    <h2 class="font-bold">#7</h2>
				                </div>
				            </div>
				        </div>
				    </div>
					<div class="col-lg-4">
				        <div class="widget style1 red-bg">
				            <div class="row vertical-align">
				                <div class="col-xs-6">
				                    <h2 class="font-bold">TE</h2>
				                </div>
				                <div class="col-xs-6 text-right">
				                    <h2 class="font-bold">#84</h2>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<h4>Best Formations</h4>
					</div>
					<div class="col-lg-6">
						<div class="widget red-bg p-lg text-center">
				            <div class="m-b-md">
				                <i class="fa fa-exclamation-triangle fa-4x"></i>
				                <h1 class="m-xs">ACE</h1>
				                <h3 class="font-bold no-margins">
				                    Run 85% of the time
				                </h3>
				                <small>16, 17, 35, 38, 39, Stretch, Draw</small>
				            </div>
				        </div>
				    </div>
				    <div class="col-lg-6">
						<div class="widget red-bg p-lg text-center">
				            <div class="m-b-md">
				                <i class="fa fa-users fa-4x"></i>
				                <h1 class="m-xs">TRIPS</h1>
				                <h3 class="font-bold no-margins">
				                    Left 90%, Screen 80%
				                </h3>
				                <small>Left, Screen, Wheel, Waggle</small>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<h4>Best Plays</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<h4>Our Defense vs Their Offense</h4>
					</div>
					<div class="col-lg-6">
						<h4>D Strengths Against Their Offense</h4>
						<div class="widget navy-bg">
							<ul>
								<li>Good run stopping D</li>
								<li>Good down-field Coverage</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<h4>D Weaknesses Against Their O</h4>
						<div class="widget red-bg">
							<ul>
								<li>Off-Tackle Pursuit</li>
								<li>Shallow Crossing Routes</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<h4>D Opportunities Against Their O</h4>
						<div class="widget navy-bg">
							<ul>
								<li>Force Inside Run</li>
								<li>Make TE Ineffective</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<h4>D Threats From Their O</h4>
						<div class="widget red-bg">
							<ul>
								<li>Dink & Dunk all day</li>
								<li>Scrambling QB</li>
							</ul>
						</div>
					</div>
					
					
				</div>
			</div>
			<div class="col-lg-6">
				<h4>Their Defense</h4>
				<div class="row">
					<div class="col-lg-12">
						<h4>Their Best Defensive Players</h4>
						<div class="row">
							<div class="col-lg-4">
						        <div class="widget style1 red-bg">
						            <div class="row vertical-align">
						                <div class="col-xs-6">
						                    <h2 class="font-bold">DL</h2>
						                </div>
						                <div class="col-xs-6 text-right">
						                    <h2 class="font-bold">#78</h2>
						                </div>
						            </div>
						        </div>
						    </div>
						    <div class="col-lg-4">
						        <div class="widget style1 red-bg">
						            <div class="row vertical-align">
						                <div class="col-xs-6">
						                    <h2 class="font-bold">LB</h2>
						                </div>
						                <div class="col-xs-6 text-right">
						                    <h2 class="font-bold">#59</h2>
						                </div>
						            </div>
						        </div>
						    </div>
							<div class="col-lg-4">
						        <div class="widget style1 red-bg">
						            <div class="row vertical-align">
						                <div class="col-xs-6">
						                    <h2 class="font-bold">S</h2>
						                </div>
						                <div class="col-xs-6 text-right">
						                    <h2 class="font-bold">#9</h2>
						                </div>
						            </div>
						        </div>
						    </div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<h4>Base Defense</h4>
					</div>
					<div class="col-lg-12">
						<div class="widget red-bg p-lg text-center">
				            <div class="m-b-md">
				                <i class="fa fa-bolt fa-4x"></i>
				                <h1 class="m-xs">4-2-5</h1>
				                <h3 class="font-bold no-margins">
				                    Safeties Blitz a lot
				                </h3>
				                <small>Good Run Stopping Scheme</small>
				            </div>
				        </div>
				    </div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<h4>Best Plays</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<h4>Biggest Strength</h4>
					</div>
					<div class="col-lg-6">
						<h4>Biggest Weakness</h4>
					</div>
					<div class="col-lg-6">
						<h4>Biggest Opportunity</h4>
					</div>
					<div class="col-lg-6">
						<h4>Biggest Threat</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="wrapper wrapper-content animated fadeInUp">
				<h1>Their Special Teams</h1>
					<div class="col-lg-6">
						<h4>Their Kick Off Coverage</h4>
							<h2>Strength</h2>
							<h2>Weakness</h2>
							<h2>Opportunity</h2>
							<h2>Threat</h2>
					</div>
					<div class="col-lg-6">
						<h4>Their Kick Off Return</h4>
							<h2>Strength</h2>
							<h2>Weakness</h2>
							<h2>Opportunity</h2>
							<h2>Threat</h2>
					</div>
					<div class="col-lg-6">
						<h4>Their Punt Coverage</h4>
							<h2>Strength</h2>
							<h2>Weakness</h2>
							<h2>Opportunity</h2>
							<h2>Threat</h2>
					</div>
					<div class="col-lg-6">
						<h4>Their Punt Return</h4>
							<h2>Strength</h2>
							<h2>Weakness</h2>
							<h2>Opportunity</h2>
							<h2>Threat</h2>
					</div>
					<div class="col-lg-6">
						<h4>Their Field Goal Kick</h4>
							<h2>Strength</h2>
							<h2>Weakness</h2>
							<h2>Opportunity</h2>
							<h2>Threat</h2>
					</div>
					<div class="col-lg-6">
						<h4>Their Field Goal Defense</h4>
							<h2>Strength</h2>
							<h2>Weakness</h2>
							<h2>Opportunity</h2>
							<h2>Threat</h2>
					</div>
			</div>
		</div>
	</div>
</div>