<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>AHS Football Social Media</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
	        </li>
	        <li>
	            AHS Football
	        </li>
	        <li class="active">
	            <strong>Social Media</strong>
	        </li>
	    </ol>
	</div>
</div>
<div class="wrapper wrapper-content">
	<div class="row animated fadeInUp">
		<div class="col-lg-12">
			<h2>Facebook</h2>
				<h4># of Followers</h4>
				<h4># of Posts</h4>
				<h4># of Likes</h4>
				<h4>Likes/Post</h4>
				<h4>Comments</h4>
				<h4>Most Liked Content</h4>
				<h4># of Shares</h4>
				<h4>Most Shared Content</h4>
			<h2>Twitter</h2>
				<h4># of Tweets</h4>
				<h4># of Favorites</h4>
				<h4># of Retweets</h4>
				<h4># of Followers</h4>
				<h4># Following</h4>
		</div>
	</div>
</div>