<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>AHS Football Workouts</h2>
        <ol class="breadcrumb">
            <li>
                <a href="<%= url_for :controller => 'dashboards', :action => 'dashboard_1' %>">Home</a>
	        </li>
	        <li>
	            AHS Football
	        </li>
	        <li class="active">
	            <strong>Workouts</strong>
	        </li>
	    </ol>
	</div>
</div>
<div class="row">
	<div class="col-lg-9">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="ibox">
				<div class="ibox-content">
					<div class="row">
					<div class="col-lg-12">
						
						<h2>Today's Workout</h2>

						
		                <div id="vertical-timeline" class="vertical-container light-timeline">
		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon navy-bg">
		                            <i class="fa fa-briefcase"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Warmup & Stretch</h2>
		                            <p>
		                                <ul>
		                                	<li>Jumping Jacks - 25</li>
		                                	<li>High Knees - 50</li>
		                                	<li>Windmill Forward - 10</li>
		                                	<li>Windmill Backward - 10</li>
		                                	<li>Tricep Stretch - 10</li>
		                                	<li>Shoulder Stretch - 10</li>
		                                	<li>Side Stretch Right - 10</li>
		                                	<li>Side Stretch Left - 10</li>
		                                	<li>Quad Left - 10</li>
		                                	<li>Quad Right - 10</li>
		                                	<li>Straight Leg Down - 10</li>
		                                	<li>Calves Left - 10</li>
		                                	<li>Calves Right - 10</li>
		                                	<li>Saigon Squat - 10</li>
		                                </ul>
		                            </p>
		                            <a href="#" class="btn btn-sm btn-primary">Start</a>
		                                <span class="vertical-date">
		                                    Everybody <br />
		                                    <small>Esimated time: 00:10</small>
		                                </span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon blue-bg">
		                            <i class="fa fa-file-text"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Walking Lunges &nbsp;&nbsp;&nbsp; <span> <i class="fa fa-play small"> 00:05</i></span></h2>
		                            <p>Grab at least 20-lb dumbbells, lunge the whole length of the basketball court.  Lunge down slowly and EXPLODE up.  This will help you with your driving power and acceleration.</p>
		                            <a href="#" class="btn btn-sm btn-success"> Start </a>
		                                <span class="vertical-date">
		                                    4 Full Court Lengths <br />
		                                    <small>Estimated time: 00:10</small>
		                                </span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon lazur-bg">
		                            <i class="fa fa-coffee"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Power Clean&nbsp;&nbsp;&nbsp; <span> <i class="fa fa-play small"> 00:05</i></span></h2>
		                            <p>Partner up and load up with 75-lbs.  Work on generating a lot of power from your hip thrust and shoulder shrug.  Pop the bar up over your head as quickly as possible.</p>
		                            <a href="#" class="btn btn-sm btn-info">Start</a>
		                            <span class="vertical-date">4 Sets of 8 Reps<br /><small>Estimated time: 00:07</small></span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon yellow-bg">
		                            <i class="fa fa-phone"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Phone with Jeronimo</h2>
		                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
		                            <span class="vertical-date">Yesterday <br /><small>Dec 23</small></span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon lazur-bg">
		                            <i class="fa fa-user-md"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Go to the doctor dr Smith</h2>
		                            <p>Find some issue and go to doctor. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
		                            <span class="vertical-date">Yesterday <br /><small>Dec 23</small></span>
		                        </div>
		                    </div>

		                    <div class="vertical-timeline-block">
		                        <div class="vertical-timeline-icon navy-bg">
		                            <i class="fa fa-comments"></i>
		                        </div>

		                        <div class="vertical-timeline-content">
		                            <h2>Chat with Monica and Sandra</h2>
		                            <p>Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
		                            <span class="vertical-date">Yesterday <br /><small>Dec 23</small></span>
		                        </div>
		                    </div>
		                </div>

					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="wrapper wrapper-content project-manager">
			<h3>My Goals: This Week</h3>
			
			<div>
				<h4>Squat <small>(8 x 150#)</small><small class="pull-right">Goal: 20 Sets</small></h4>
                <div class="progress">
                    <div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-warning">
                        <span class="sr-only">10 of 20</span>
                    <small class="pull-right">10&nbsp;&nbsp;</small>
                    </div>
                </div>
            </div>
            <div>
				<h4>Leg Press <small>(10 x 240#)</small><small class="pull-right">Goal: 20 Sets</small></h4>
                <div class="progress">
                    <div style="width: 80%" aria-valuemax="20" aria-valuemin="0" aria-valuenow="16" role="progressbar" class="progress-bar progress-bar-success">
                        <span class="sr-only">16 of 20</span>
                    <small class="pull-right">16&nbsp;&nbsp;</small>
                    </div>
                </div>
            </div>
            <div>
				<h4>Power Clean <small>(6 x 115#)</small><small class="pull-right">Goal: 20 Sets</small></h4>
                <div class="progress">
                    <div style="width: 30%" aria-valuemax="20" aria-valuemin="0" aria-valuenow="6" role="progressbar" class="progress-bar progress-bar-danger">
                        <span class="sr-only">6 of 20</span>
                    <small class="pull-right">6&nbsp;&nbsp;</small>
                    </div>
                </div>
            </div>
            <div>
				<h4>Quad Lifts <small>(8 x 60#)</small><small class="pull-right">Goal: 20 Sets</small></h4>
                <div class="progress">
                    <div style="width: 40%" aria-valuemax="20" aria-valuemin="0" aria-valuenow="8" role="progressbar" class="progress-bar progress-bar-warning">
                        <span class="sr-only">8 of 20</span>
                    <small class="pull-right">8&nbsp;&nbsp;</small>
                    </div>
                </div>
            </div>
            <div>
				<h4>Bench Press <small>(8 x 125#)</small><small class="pull-right">Goal: 20 Sets</small></h4>
                <div class="progress">
                    <div style="width: 100%" aria-valuemax="20" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-default">
                        <span class="sr-only">20 of 20</span>
                    <small class="pull-right">20&nbsp;&nbsp;</small>
                    </div>
                </div>
            </div>
            <div>
				<h4>Inclined Bench <small>(8 x 125#)</small><small class="pull-right">Goal: 20 Sets</small></h4>
                <div class="progress">
                    <div style="width: 85%" aria-valuemax="20" aria-valuemin="0" aria-valuenow="17" role="progressbar" class="progress-bar progress-bar-success">
                        <span class="sr-only">17 of 20</span>
                    <small class="pull-right">17&nbsp;&nbsp;</small>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>

<h2>For Players</h2>
<p>Goal is to inspire them to work harder</p>
<p>Dashboard of workout stuff</p>
<h3>My Goals</h3>
<h5>This Week's Goals</h5>
<h5>Season Goals</h5>
<p>- Max Goal vs Max Current by Date</p>
<p>- Reps Goal vs Reps Current by Date</p>
<h3>Leaderboard</h3>
<p>- Lift Records</p>
<p>- Participation</p>
<p>- Growth/Development</p>
<h3>Upcoming</h3>
<p>- Schedule</p>
<p>- Lifts</p>
<p>- Max Day</p>
<h3>Guide/How-To</h3>
<p>- Specific Lifts</p>
<p>- Specific Sets</p>
<p>- Goals and Plans</p>

<h2>For Coaches</h2>
<h3>My workout dashboard</h3>
<h3>Manage Team Workout Plans</h3>
<h3>Manage Team Goals</h3>
<p>Lift Goals</p>
<p>Attendance/Completion Goals</p>