<div class="footer">
    <div class="pull-right">
        <small>Scorbord Sports is a Holsm Venture</small>
    </div>
    <div>
        <strong>Copyright &copy; 2015</strong> Scorbord Sports, LLC.
    </div>
</div>
